<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="DataConnection" connectionString="Data Source=DESKTOP-80MV2BK\SQLEXPRESS;Initial Catalog=VIDEOTECAUNED;Integrated Security=True;" />
	</connectionStrings>
</configuration>